.mosaic-layout {
  width: 100%;
  max-width: 1440px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  overflow: hidden;

  .card:nth-child(odd) {
    grid-column: span 2;
    align-self: self-end;
  }

  .card:nth-child(even) {
    grid-column: span 3;
    align-self: self-start;
  }

  .card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 5;
    align-self: flex-end;
  }

  .card:nth-child(2) {
    grid-area: 2 / 1 / 4 / 5;
    background-color: #222647;
    align-self: flex-end;
  }
  .card:nth-child(3) {
    grid-area: 1 / 5 / 4 / 10;
    background-color: #4a52ff;
    align-self: flex-end;
  }
  .card:nth-child(4) {
    grid-area: 4 / 1 / 5 / 4;
    background-color: #c9cbff;
  }
  .card:nth-child(5) {
    grid-area: 4 / 4 / 5 / 6;
    background-color: #c7c5c3;
  }
  .card:nth-child(6) {
    grid-area: 4 / 6 / 8 / 10;
    background-color: #fffb94;
  }
  .card:nth-child(7) {
    grid-area: 4/10/6/13;
    background-color: #96e697;
    align-self: flex-start;
  }
  .card:nth-child(8) {
    grid-area: 5/3/7/6;
    background-color: #57b0ae;
    margin-left: auto;
  }
  .card:nth-child(9) {
    grid-area: 1 / 10 / 4 / 13;
    background-color: #191919;
    align-self: flex-end;
  }
}

.title {
  color: var(--kisi-brand-pure-white, #fff);

  font-family: Neue Haas Unica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -1.28px;
}
