.file-upload-container {
  display: inline-flex;
  height: 34px;
  padding: 8px 20px 5px 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--kisi-brand-connect-blue-50, #4a52ff);

  .file-upload-button {
    display: none;
  }

  .file-upload-label {
    color: var(--kisi-brand-pure-white, #fff);
    text-align: center;
    font-family: Neue Haas Unica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: -0.4px;
  }
}
